.dashboard-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.dashboard-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--medium-dark);
  padding: 1rem 2rem;
  color: white;
}

.dashboard-header .logo img {
  height: 60px;
}

.dashboard-nav a {
  margin: 0 1rem;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.dashboard-nav a.active {
  text-decoration: underline;
}

.logout-btn {
  background-color: var(--error);
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.dashboard-content {
  flex: 1;
  background-color: var(--light);
  overflow-y: auto;
}

.dashboard-nav {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.dashboard-nav a {
  color: white;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  transition: transform 0.2s ease;
}

.dashboard-nav a:hover {
  transform: scale(1.2);
}

.nav-icon {
  cursor: pointer;
}

.logout-icon-btn {
  background: none;
  border: none;
  color: var(--error); /* el icono será rojo */
  font-size: 1.8rem;
  cursor: pointer;
  transition: color 0.2s ease;
}

.logout-icon-btn:hover {
  color: #d94c4c; /* un rojo más oscuro */
}

